.btn-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.btn {
  font-size: 1rem;
  line-height: 1.75rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
  border: unset;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
}

.btn-solid {
  color: #fff;
  font-weight: 600;
  background-color: rgb(84, 105, 212);
}

.btn-outline {
  color: rgb(84, 105, 212);
  font-weight: 600;
  border: rgb(84, 105, 212);
  background-color: rgb(255, 255, 255);
  padding: 0.25rem 1rem;
  margin-top: 1rem;
  max-width: 6.25rem;
}

.btn-danger {
  box-shadow: unset;
  color: #fff;
  background-color: rgb(255, 47, 2);
}

.reply-submit-button {
  align-self: flex-end;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reply-submit-button:hover {
  background-color: #0056b3;
}

.reply-btn,
.delete-comment-btn {
  flex-grow: 1; /* Make both buttons take equal space */
  padding: 0.5rem;
  width: fit-content;
  max-width: 6rem;
}

#deletePost {
  width: 12.5rem;
}

#followBtn {
  margin: 1rem;
  cursor: pointer;
  width: 10rem;
  max-height: 3rem;
  background-color: #007bff;
  color: #fff;
  z-index: 100;
}

#followBtn:hover {
  background-color: #005abb;
}
